<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ScadaQTNN.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ScadaQTNN.Properties.Settings>
            <setting name="Server" serializeAs="String">
                <value>DESKTOP-T3UE4UI\SQLEXPRESS</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>SCADA_DB</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value>ntv</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>123456</value>
            </setting>
        </ScadaQTNN.Properties.Settings>
    </userSettings>
</configuration>